<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wanbao">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:theme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wanbao.myprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b1f895da40fa33bcf00005d" />
        <meta-data
            android:name="com.alibaba.app.appkey"
            android:value="24913491" /> <!-- 请填写你自己的- appKey -->
        <meta-data
            android:name="com.alibaba.app.appsecret"
            android:value="cdedb4159eed9b9e5e0660049474412a" /> <!-- 请填写你自己的appSecret -->
        <receiver
            android:name=".base.message.MyMessageReceiver"
            android:exported="false"> <!-- 为保证receiver安全，建议设置不可导出，如需对其他应用开放可通过android：permission进行限制 -->
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="aea637b39ac646da4456966ae901ed7d">
            //开发者申请的key</meta-data>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ZhuCeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WangJiMiMaActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CheShouZiZhuanActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.AiCheDangAnActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XiuGaiCheLiangActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TiYanZhongXinActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PeiZhiXinXiActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BaoYangChouCeActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XuanZheCheXActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WeiXiuBYActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MianFeiYCActivity"
            android:launchMode="singleTask">

            <!-- 申明parentActivity，用户按返回键后返回主页面 -->
            <!-- 在Android 4.1版本之后，可以直接使用android:parentActivityName这个属性来进行指定 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainXActivity" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 下面所设置的值需要和html端对调 -->
                <!-- 在data里设置了 scheme和host，则该Activity可以接收和处理类似于 "share://article/XXX"的链接 -->
                <data
                    android:host="article"
                    android:pathPrefix="/attr"
                    android:port="8888"
                    android:scheme="qianche" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LiJiZhiFuActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WeiBaoDDActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WBDingDanXQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.QueRenWeiBaoXMActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ShiChengShiJiaActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LuRuXXActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.FaSongWZActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LiJiPPActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SheZhiActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CheLiangGZActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XuanZheCSActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activity.HuanYinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.XuanZheCLActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BanDingCLActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.YuYueDpActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XiaoShouGWActivity"
            android:launchMode="singleTask" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- wechat callback -->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".activity.PaySucessActivity" />
        <activity
            android:name=".activity.XuanZheCheXSJActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ShiJiaDDActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.SaoMiaoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XingQuBQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ShiMinRzActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XiuGaiMMActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ShiJiaDDXQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.YiJianFKActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WebViewActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ChangjianWTActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TuiJianJLActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TuiJianMXActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WoDeJKActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.YongJinActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.YongjinXQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TiXianActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.WoDeYHKActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XinZengYHKActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.YinDaoActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.JiFenActivity"
            android:label="@string/title_activity_ji_fen"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.JiFenXQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TiXianMXActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ZhangDanMXActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XinCheZTActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XinCheZTXQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ZhanTingQCXQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.JiLuZPActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.GengDuoFWActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.FaQiPTActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PinTaunCGActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CanTuanJLActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.PinTuanXQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.YouZhiESCActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CheLiangXQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.JiSuanQActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BiYaoHFActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ShangYeBXActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.BiYaoHFDKActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ShangYeBXDKActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.JiSuanQEActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ShangYeBXDKEActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.XiaoXiActivity"
            android:label="@string/title_activity_xiao_xi"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.WoDeCheDuiActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.YangCheLBActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CheShenTpActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TouTiaoLBActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CheLiangBJActivity"
            android:label="@string/title_activity_che_liang_bj"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.DrivingLicenseActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.TiXianZHActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.MainXActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.ErShouCheGLActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.ErShouCheYYActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.ErShouCheBJActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".activity.SearchDPActivity"></activity>
    </application>

</manifest>