<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wanbao">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".base.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name="com.amap.api.location.APSService" />

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="aea637b39ac646da4456966ae901ed7d">
            //开发者申请的key</meta-data>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppThemeNoTranslucent"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.ZhuCeActivity" />
        <activity android:name=".activity.WangJiMiMaActivity" />
        <activity android:name=".activity.CheShouZiZhuanActivity" />
        <activity android:name=".activity.AiCheDangAnActivity" />
        <activity android:name=".activity.TianJiaCheLiangActivity" />
        <activity android:name=".activity.TiYanZhongXinActivity" />
        <activity android:name=".activity.PeiZhiXinXiActivity" />
        <activity android:name=".activity.BaoYangChouCeActivity" />
        <activity android:name=".activity.XuanZheCheXActivity" />
        <activity android:name=".activity.WeiXiuBYActivity" />
        <activity android:name=".activity.MianFeiYCActivity" />
        <activity android:name=".activity.LiJiZhiFuActivity" />
        <activity android:name=".activity.WeiBaoDDActivity" />
        <activity android:name=".activity.WBDingDanXQActivity" />
        <activity android:name=".activity.QueRenWeiBaoXMActivity" />
        <activity android:name=".activity.ShiChengShiJiaActivity" />
        <activity android:name=".activity.LuRuXXActivity" />
        <activity android:name=".activity.FaSongWZActivity" />
        <activity android:name=".activity.LiJiPPActivity" />
        <activity android:name=".activity.SheZhiActivity" />
        <activity android:name=".activity.CheLiangGZActivity" />
        <activity android:name=".activity.XuanZheCSActivity" />
        <activity android:name=".activity.HuanYinActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.XuanZheCLActivity" />
        <activity android:name=".activity.BanDingCLActivity"></activity>
    </application>

</manifest>